<h1>This is app component of angular</h1>
<!-- <app-firstcomp></app-firstcomp>
<app-inline></app-inline>
<app-interpolation></app-interpolation>
<app-events></app-events>
<app-propertybinding></app-propertybinding> 
<app-classbinding></app-classbinding>
<app-ng-class-dir></app-ng-class-dir>
<app-style-binding></app-style-binding>-->
<!-- <app-template-reference></app-template-reference> -->
<!-- <app-counter-component></app-counter-component> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
 <!-- <app-structure-directives></app-structure-directives>  -->
<!-- <app-child [myData]="name"></app-child>
<app-child [myDataArr]="fruitsarray"></app-child>
<app-child [myDataObject]="empobj"></app-child>
<button (click)="changeData()">Change data </button>
<h2>{{ msg }}</h2>
<app-child2 (childEvent)="msg=$event"></app-child2> -->
<app-child (msgToSibling)="fwdMsgToSib2($event)"> </app-child>
<app-child2></app-child2>
<!-- <app-student-data></app-student-data>
<app-student-list></app-student-list> -->