<p>structure-directives works!</p>
<!-- <h2 *ngIf="false">
    This is an example of ngif directive
</h2> -->
<!-- <h2 *ngIf='display'>
    This is an example of ngif directive
</h2> -->

<!-- <h2 *ngIf='display; else elsePart'>
    This is an example of ngif directive
</h2>

<ng-template #elsePart>
    <h1>
        Malay Modi
    </h1>
</ng-template> -->

<!-- <div *ngIf="display; then ifPart else elsePart">

</div>

<ng-template #ifPart> 
   <h2>
     This is the if part of ngifelse directive
   </h2>
</ng-template>

<ng-template #elsePart> 
    <h2>
        This is the else part of ngifelse directive
      </h2>
</ng-template>
 -->

 <!-- <div [ngSwitch]="language">
    <div *ngSwitchCase="'Java'">You are expert in java programming language</div>
    <div *ngSwitchCase="'C#'">You are expert in C# programming language</div>
    <div *ngSwitchCase="'Angular'">You are expert in Angular framework</div>
    <div *ngSwitchCase="'Reactjs'">You are expert in Reactjs framework</div>
    <div *ngSwitchDefault>This is the default part of the switch cases</div>      
 </div> -->
<h3>Fruits in array are</h3>
 <h2>{{fruits[0]}}</h2>
 <h2>{{fruits[1]}}</h2>
 <h2>{{fruits[2]}}</h2>
 <h2>{{fruits[3]}}</h2>
 <h2>{{fruits[4]}}</h2>
 <h2>{{fruits[5]}}</h2>
 