<p>style-binding works!</p>
<h2 [style.background-color] = "'yellow'">This is example of single style binding in angular. Here i have given only background-color</h2>
<h2 [style] = "'background-color:pink;font-family:cooper'">This is example of multiple style binding with string expression in angular. Here i have given background color and font family</h2>
<h2 [style] = "{'background-color':'cornflowerblue','border':'2px solid red'}">This is example of multiple style binding with object in angular. Here i have given background color and font family</h2>
<h2 [style.color] ="condition ? 'red' : 'orange'">This is example of style binding with ternary operator angular. Here i have given color</h2>